pi/node_red_diagram.txt
[{"id":"9fccd953.ee6208","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"265a05aa.f09ada","type":"mqtt in","z":"9fccd953.ee6208","name":"aws-mqtt","topic":"sensor/light","qos":"1","datatype":"auto","broker":"9c1053a0.adb01","x":170,"y":120,"wires":[["7805f6c9.f36c58","4b4f0817.712a58"]]},{"id":"7805f6c9.f36c58","type":"debug","z":"9fccd953.ee6208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":60,"wires":[]},{"id":"ae7ac585.49d278","type":"rpi-gpio out","z":"9fccd953.ee6208","name":"led","pin":"12","set":true,"level":"0","freq":"","out":"out","x":570,"y":180,"wires":[]},{"id":"4b4f0817.712a58","type":"function","z":"9fccd953.ee6208","name":"check payload","func":"if (msg.payload == 'on'){\n    msg.payload = 1\n}\nelse{\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["ae7ac585.49d278","474659e6.b4e078"]]},{"id":"474659e6.b4e078","type":"debug","z":"9fccd953.ee6208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":300,"wires":[]},{"id":"9c1053a0.adb01","type":"mqtt-broker","z":"","name":"aws-hc","broker":"a2gdmm3ooqtbpf-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"3856b5ab.3a3eba","clientid":"ken8387","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3856b5ab.3a3eba","type":"tls-config","z":"","name":"hc","cert":"/home/pi/CA2/certificate.pem.crt","key":"/home/pi/CA2/private.pem.key","ca":"/home/pi/CA2/rootca.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]